<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="dbSqlite" connectionString="" />
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webHttp">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="ZSL.CustomsAssist">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService" contract="ZSL.CustomsAssist" behaviorConfiguration="webHttp">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
					</baseAddresses>
				</host>
			</service>
		</services>
		<!---设置接口的行为，支持大数据量传输-->
		<bindings>
			<webHttpBinding>
				<binding name="BasicHttpBinding_IEmailService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:00:05" receiveTimeout="00:02:01" sendTimeout="00:00:10">
				</binding>
			</webHttpBinding>
		</bindings>
	</system.serviceModel>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true" />
	</appSettings>
</configuration>